<div id="signUpForm">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.text_field :username, placeholder: "Username" %>
    </div>

    <div class="field">
      <%= f.text_field :fname, placeholder: "First Name" %>
    </div>

    <div class="field">
      <%= f.text_field :lname, placeholder: "Last Name" %>
    </div>

    <div class="discfield">
      <h3>Disciplines:</h3>
      <% Discipline.all.each do |discipline| %>
        <%= f.check_box :discipline_ids, {multiple: true}, discipline.id, nil %>
        <%= f.label discipline.style, class: 'disciplinestyles' %><br>
      <% end %>
    </div>

    <div class="field">
      <%= f.text_field :location, placeholder: "Location" %>
    </div>

    <div class="picchange">
      <span id="formProPic">
        <div class="field">
          <%= f.label "Upload Profile Picture:" %><br />
          <%= f.file_field :propic %>
        </div>
      </span>

      <span id="formCoverPic">
        <div class="field">
          <%= f.label "Upload Cover Photo:" %><br />
          <%= f.file_field :coverpic %>
        </div>
      </span>

      <div class="field">
        <%= f.text_area :bio, placeholder: "Bio", class: "biobox"%>
      </div>

    </div>

    <div class="field changepass">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Change Password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password Change" %><br>
      <em><%= @minimum_password_length %> characters minimum</em>
    </div>

    <div class="field currentpass">
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3 class="cancelacc">Cancel my account</h3>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>
