<% unless user_signed_in? %>
  <div class="parallax firstpic hero" data-parallax-speed="1">
    <div class="hero-content">
      <h1>ART.work</h1>
      <p>Where art meets work.</p>
    </div>
  </div>

  <div class="cleft-wrapper">
    <div class="cleft-left"></div>
    <div class="cleft-right"></div>
  </div>

  <div class="spacer">
    <div class="container">
      <h3>A community of artists helping each other</h3>
      <p>Mauris condimentum porttitor massa molestie elementum. Proin rhoncus, arcu sit amet molestie dignissim, sapien risus mattis arcu, et fringilla ipsum purus vitae neque. Phasellus ultricies dolor libero, at efficitur nulla tincidunt eget. Donec eget mauris nec libero vestibulum porta. Aenean sit amet turpis vehicula, vestibulum nunc sed, dapibus ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam lobortis tincidunt iaculis. Aenean et odio eros. Aenean fermentum mi ac maximus sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam posuere, est id varius posuere, dolor nisi interdum ante, eget consequat ante mi non ex. Mauris bibendum ac diam vitae efficitur.</p>
    </div>
  </div>

  <div class="carrotBox">
    <div class="carrot"></div>
  </div>

  <div class="parallax secondpic" data-parallax-speed="0.75">
    <div class="parallax-content">
      <h1>Share Your Art</h1>
      <p>This is parallax element two.</p>
    </div>
  </div>

  <div class="cleft-wrapper">
    <div class="cleft-left"></div>
    <div class="cleft-right"></div>
  </div>

  <div class="spacer tallSpacer">
    <div class="container">
      <h3>A place to show off your work</h3>
      <p>Mauris condimentum porttitor massa molestie elementum. Proin rhoncus, arcu sit amet molestie dignissim, sapien risus mattis arcu, et fringilla ipsum purus vitae neque. Phasellus ultricies dolor libero, at efficitur nulla tincidunt eget. Donec eget mauris nec libero vestibulum porta. Aenean sit amet turpis vehicula, vestibulum nunc sed, dapibus ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam lobortis tincidunt iaculis. Aenean et odio eros. Aenean fermentum mi ac maximus sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam posuere, est id varius posuere, dolor nisi interdum ante, eget consequat ante mi non ex. Mauris bibendum ac diam vitae efficitur.</p>
    </div>
  </div>

  <div class="carrotBox">
    <div class="carrot"></div>
  </div>

  <div class="parallax thirdpic" data-parallax-speed="0.25">
    <div class="parallax-content">
      <h1>Share Some Work</h1>
      <p>This is parallax element three</p>
    </div>
  </div>

  <div class="cleft-wrapper">
    <div class="cleft-left"></div>
    <div class="cleft-right"></div>
  </div>

  <div class="spacer">
    <div class="container">
      <h3>A community job thread</h3>
      <p>Mauris condimentum porttitor massa molestie elementum. Proin rhoncus, arcu sit amet molestie dignissim, sapien risus mattis arcu, et fringilla ipsum purus vitae neque. Phasellus ultricies dolor libero, at efficitur nulla tincidunt eget. Donec eget mauris nec libero vestibulum porta. Aenean sit amet turpis vehicula, vestibulum nunc sed, dapibus ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam lobortis tincidunt iaculis. Aenean et odio eros. Aenean fermentum mi ac maximus sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam posuere, est id varius posuere, dolor nisi interdum ante, eget consequat ante mi non ex. Mauris bibendum ac diam vitae efficitur.</p>
    </div>
  </div>

  <div class="carrotBox">
    <div class="carrot"></div>
  </div>

  <div class="parallax fourthpic" data-parallax-speed="0.5">
    <div class="parallax-content fourththing">
      <h1>Join Today</h1>
      <p>This is the last parallax element</p>
      <button class="danger">Sign In &raquo;</button>
      <button class="danger">Sign Up &raquo;</button>
    </div>
  </div>
<% else %>

  <div class="loggedhome col-md-12">
    <div class="feed col-md-offset-2 col-md-4">
      <h1>News Feed</h1>
      <% current_user.following_feed.each do |post| %>
        <div class="feedpost col-md-12">
          <div class="userpic col-md-1">
          <a href="/<%= post.user.username %>"><%= image_tag post.user.propic.url, class: "propic" %></a>
          </div>
          <div class="userpost col-md-11">
            <a href="<%= post.photo.url %>" data-lightbox="followfeedpics" data-title="<%= post.caption %> by @<a href='/<%= post.user.username %>'><%= post.user.username %></a>">
              <%= image_tag post.photo %>
            </a>
            <p class="caption">"<%= post.caption %>"</p>
            <p class="posttime"><%= post.created_at.strftime('%b %d, %Y  %I:%M%p') %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="jobboard col-md-offset-1 col-md-3">
      <h1>Job Board</h1>
      <% @jobs.each do |job| %>
        <div class="joblisting col-md-12">
          <p class="posttime"><%= job.created_at.strftime('%b %d, %Y  %I:%M%p') %></p>
          <h4><a href="/jobs/<%= job.id %>"><%= job.title %></a></h4>
          <p><%= job.description %><p>
            <p>- @<a href="/<%=job.user.username%>"><%= job.user.username %></a></p>
            <!-- <p class="posttime"><%# job.created_at.strftime('%b %d, %Y  %I:%M%p') %></p> -->
        </div>
      <% end %>
    </div>
  </div>

<% end %>
