<%= form_with(model: art, local: true) do |form| %>
  <% if art.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(art.errors.count, "error") %> prohibited this art from being saved:</h2>

      <ul>
      <% art.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <span id="formPostPic">
    <div class="field">
      <%= form.label "Upload Pciture:" %><br />
      <%= form.file_field :image %>
    </div>
  </span>
  
  <div class="field">
    <%= form.text_field :title, id: :art_title, placeholder: "Title" %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, id: current_user.id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
