<div class="artpage col-md-offset-3 col-md-6">

  <div class="showart">
    <h1><%= @art.title %></h1>
    <h3><a href="/<%= @art.user.username %>">@<%= @art.user.username %></a></h3>
    <a href="<%= @art.image.url %>" data-lightbox="<%= @art.title %>"><%= image_tag @art.image.url %></a>
  </div>

  <% if current_user == @art.user %>
    <%= link_to 'Edit', edit_art_path(@art) %>
  <% else %>
  <% end %>
</div>
